.App {
  text-align: center;
}
.Header {
  color: #FF0000;
  text-shadow: 1px 1px 5px #fff;
}
/* write your parent styles in here for your App.js */

.card {
  margin: 20px;
  padding: 10px;
  text-align: center;
  border-bottom: 2px solid #000000;
  color: #FF0000;
}
